/client/node_modules
/server/node_modules
/node_modules
/Socket/node_modules
/client/node_modules
/client/src
/client/.babelrc.cjs
/client/.eslintrc.cjs
/client/index.html
/client/package-lock.json
/client/package.json
/client/postcss.config.js
/client/tailwind.config.js
/client/vite.config.js
/client/webpack.config.js